.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  box-shadow: 4px 4px 4px #ccc;
  padding: 16px;
}

.pageTitle {
  font-size: 28px;
  color: teal;
}

.pageNavbar {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 12px;
}

.pageNavbar a {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: salmon;
}

.pageNavbar a:hover {
  color: teal;
}
